* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #2399f3;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #adbda4;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgb(203, 206, 39) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
	background: rgb(46, 37, 37);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #e70f0f;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
